
<html>
  <head>
    <title>Tendencias</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!-- Header -->
     <header id="header">
        <div class="inner">
          <div class="content">
            <h1>Tendencias</h1>
            <h2>A site that gives you<br />
            trending videos in Asia Countries</h2>
            <a href="/" class="button big alt"><span>Let's Go</span></a>
          </div>
          <a href="/" class="button hidden"><span>Let's Go</span></a>
        </div>
      </header>


    <!-- Main -->
      <div id="main">
        <div class="inner">
          <div class="columns">

            <!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
              <div class="image fit">
                <a href="/srilanka"><img src="images/srilanka.png" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="/"><img src="images/thailand.png" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/malaysia.png" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/uae.png" alt="" /></a>
              </div>

            <!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
              <div class="image fit">
                <a href="/northkorea"><img src="images/northkorea.png" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/kuwait.png" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/southkorea.png" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/cambodia.png" alt="" /></a>
              </div>

            <!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/afghanistan.png" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/Phil.png" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/maldives.png" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/singapore.png" alt="" /></a>
              </div>

            <!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/saudiarabia.png" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/china.png" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/japan.png" alt="" /></a>
              </div>
              <div class="image fit">
                <a href="public/detail1.html"><img src="images/vietnam.png" alt="" /></a>
              </div>

          </div>
        </div>
      </div>

    <!-- Footer -->
      <footer id="footer">
        <a href="/" class="info fa fa-info-circle"><span>About</span></a>
        <div class="inner">
          <div class="content">
            <h3>Vestibulum hendrerit tortor id gravida</h3>
            <p>In tempor porttitor nisl non elementum. Nulla ipsum ipsum, feugiat vitae vehicula vitae, imperdiet sed risus. Fusce sed dictum neque, id auctor felis. Praesent luctus sagittis viverra. Nulla erat nibh, fermentum quis enim ac, ultrices euismod augue. Proin ligula nibh, pretium at enim eget, tempor feugiat nulla.</p>
          </div>
          <div class="copyright">
            <h3>Follow me</h3>
            <ul class="icons">
              <li><a href="/" ><img src="images/fb.svg" height="42" width="42"  alt="" /></a></li>
              <li><a href="/" ><img src="images/twit.jpg" height="42" width="42"  alt="" /></a></li>
              <li><a href="/" ><img src="images/insta.png" height="42" width="42"  alt="" /></a></li>
              <li><a href="/" ><img src="images/you.png" height="42" width="42"  alt="" /></a></li>
            </ul>
            &copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
          </div>
        </div>
      </footer>

    <!-- Scripts -->
      <script src="javascripts/jquery.min.js"></script>
      <script src="javascripts/skel.min.js"></script>
      <script src="javascripts/util.js"></script>
      <script src="javascripts/main.js"></script>

  </body>
</html>